<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create chord diagrams</title>
</head>
<body>

<div>
    <div>
        <form name="diagram" action="" method="post" novalidate>
            {{ chord_form.hidden_tag() }}
            Choose an instrument:<br>
            {{ chord_form.instrument }}
            Title: {{ chord_form.title }}<br>
            Fret positions: {{ chord_form.positions }}<br>
            Finger numbers: {{ chord_form.fingers }}<br>
            Override barre fret: {{ chord_form.barre }}<br>
            {{ chord_form.render }}
        </form>
    </div>
    <div>
        <img src="{{ diagram }}">
    </div>
</div>

<!--
<form>
    <input type="submit" name='btn' value="Download">
</form>
-->
</body>
</html>